<!--begin::Form-->
<%= form_with(model: model_asset, local: true, class: "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed") do |form| %>

  <%= render 'layouts/myform/error_myform', object: model_asset %>

  <div class="form-group m-form__group row">
    <%= form.label :model_asset_name, "Model Name", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= form.text_field :model_asset_name, class: "form-control m-input", placeholder: "Model Name", required: true %>
      <span class="m-form__help">Please enter model Name</span>
    </div>
    <%= form.label :type_asset_ids, "Asset types", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= form.select :type_asset_ids, TypeAsset.all.collect {|p| [p.type_asset_name, p.id]}, {include_blank: 'Select Asset Types'}, {class: "form-control m-input m-select2", placeholder: "Enter Asset Types", multiple: true, required: true} %>
      <span class="m-form__help">Please enter Asset Type</span>
    </div>
  </div>


  <%= render 'layouts/myform/submit_myform', form: form, cancelpath: model_assets_path %>

<% end %>
<!--end::Form-->