<p id="notice"><%= notice %></p>

<p>
  <strong>Data asset:</strong>
  <%= @wrong_data_asset.data_asset %>
</p>

<p>
  <strong>Checklist:</strong>
  <%= @wrong_data_asset.checklist %>
</p>

<p>
  <strong>Employee now:</strong>
  <%= @wrong_data_asset.employee_now %>
</p>

<p>
  <strong>Employee should:</strong>
  <%= @wrong_data_asset.employee_should %>
</p>

<p>
  <strong>Site now:</strong>
  <%= @wrong_data_asset.site_now %>
</p>

<p>
  <strong>Site should:</strong>
  <%= @wrong_data_asset.site_should %>
</p>

<%= link_to 'Edit', edit_wrong_data_asset_path(@wrong_data_asset) %> |
<%= link_to 'Back', wrong_data_assets_path %>
