<div class="m-portlet__head">
  <div class="m-portlet__head-caption">
    <div class="m-portlet__head-title">
      <span class="m-portlet__head-icon">
        <i class="flaticon-truck m--font-brand"></i>
      </span>
      <h3 class="m-portlet__head-text">
        Purchase Requests
      </h3>
    </div>
  </div>
  <div class="m-portlet__head-tools">
    <ul class="m-portlet__nav">

      <li class="m-portlet__nav-item" id="clear_filters">
        <% if params[:q] %>
          <%= link_to request.path, class: "btn m-btn m-btn--pill m-btn--air btn-info mr-4" do %>
            <span>
              <i class="la la-filter"></i>
              <span>
                Clear Filters
              </span>
            </span>
          <% end %>
        <% end %>
      </li>

    </ul>
  </div>
</div>

<!--Begin::m-portlet__body-->
<div class="m-portlet__body">
<div class="mb-5 pb-2">
  <div class="digg_pagination m--pull-left">
    <span class="page_info">
      <%= page_entries_info @purchase_requests, model: 'matrial_request' %>
    </span>
  </div>
  <div class="digg_pagination m--pull-right">
    <%= will_paginate @purchase_requests, :container => false %>
  </div>
</div>

<!--Begin::Section-->
<div class="m-section">
  <div class="m-section__content">
    <div class="table-responsive">
    <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
      <thead>
      <tr>
        <th>#Serial</th>
        <th>Material Request</th>
        <th>Workshop</th>
        <th>Date</th>
        <th>Asset No.</th>
        <th>Asset Type</th>
        <th>Project</th>
        <th>Status</th>
        <th>Spares</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% if @purchase_requests.any? %>
        <% @purchase_requests.each do |purchase_request| %>
          <tr>

            <td>#PR <%= purchase_request.id %></td>

            <td>#MR <%= purchase_request.matrial_request_id %></td>

            <td><%= purchase_request.matrial_request.repair_order.workshop_site.site_asset_name %></td>

            <td><%= purchase_request.created_at.to_date %></td>

            <td><%= purchase_request.matrial_request.repair_order.data_asset.data_asset_serial %></td>

            <td><%= purchase_request.matrial_request.repair_order.data_asset.type_asset.type_asset_name %></td>

            <td><%= purchase_request.matrial_request.repair_order.site_asset.site_asset_name %></td>
            
            <td>
              <% if purchase_request.purchase_done %>
                <span class="m--font-brand">Purchase Checked</span>
              <% elsif purchase_request.request_purchase_done %>
                <span class="m--font-warning">Purchase Requested</span>
              <% else %>
                <span class="m--font-success">New</span>
              <% end %>
            </td>

            <td>
              <% if purchase_request.breakdown_spares.any? %>
                <%= link_to pr_index_breakdown_spares_path(pr_id: purchase_request.id), alt: "Spares", class: "m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill", data: {toggle: "m-tooltip", placement: "bottom", original_title: "Spares"} do %><i class="la la-angle-double-right"></i><% end %>

                <% if purchase_request.breakdown_spares.count > 0 %>
                <span class="m-badge m-badge--default" data-toggle="m-tooltip" data-placement="bottom" data-original-title="Spares Num."><%= purchase_request.breakdown_spares.count %></span>
                <% else %>
                <span class="m-badge m-badge--danger" data-toggle="m-tooltip" data-placement="bottom" data-original-title="Spares Num."><%= purchase_request.breakdown_spares.count %></span>
                <% end %>

                <% if purchase_request.breakdown_spares.by_spare_status_5.count > 0 %>
                  <span class="m-badge m-badge--primary" data-toggle="m-tooltip" data-placement="bottom" data-original-title="Purchased Spares"><%= purchase_request.breakdown_spares.by_spare_status_5.count %></span>
                <% end %>

                <% if purchase_request.breakdown_spares.by_spare_status_2.count > 0 %>
                  <span class="m-badge m-badge--success" data-toggle="m-tooltip" data-placement="bottom" data-original-title="Received Spares"><%= purchase_request.breakdown_spares.by_spare_status_2.count %></span>
                <% end %>

              <% end %>
            </td>

            <td>
              <% if ( (current_user.role?(:rstore) || current_user.role?(:tstore))  && (!purchase_request.request_purchase_done || purchase_request.breakdown_spares.by_spare_status_5.count > 0) ) || ( current_user.role?(:purchase) && purchase_request.request_purchase_done && !purchase_request.purchase_done ) %>
                <%= link_to edit_purchase_request_path(purchase_request), alt: "Edit", class: "m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill", data: { toggle: "m-tooltip", placement: "bottom", original_title: "Edit" } do %><i class="la la-edit"></i><% end %>
              <% end %>

              <% if current_user.role?(:assets_admin) || current_user.role?(:workshops_manager) %>
                <%= link_to purchase_request_path(purchase_request), alt: "Delete", class: "m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill", method: :delete, data: { toggle: "m-tooltip", placement: "bottom", original_title: "Delete", confirm: 'Are you sure?' } do %><i class="la la-trash"></i><% end %>
              <% end %>

            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <th scope="row" class="text-center" colspan="12">No Purchase Request Data</th>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
<!--End::Section-->

<div class="mb-3 pb-3">
  <div class="digg_pagination m--pull-left">
    <span class="page_info">
      <%= page_entries_info @purchase_requests, model: 'matrial_request' %>
    </span>
  </div>
  <div class="digg_pagination m--pull-right">
    <%= will_paginate @purchase_requests, :container => false %>
  </div>
</div>
</div>
<!--End::m-portlet__body-->