    <!--Begin::Section-->
    <div class="m-section">
      <div class="m-section__content">
        <strong> From: <%= @pdf_from_date %> To: <%= @pdf_to_date %> </strong>
        <div class="table-responsive">
        <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>Concrete Work Hours Sum</th>
              <th>Concrete Amount Sum (Meters)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="m--font-info font-weight-bold" id="concrete_hours_sum_id"><%= @province_hours_sum %></td>
              <td class="m--font-brand font-weight-bold" id="concrete_amount_sum_id"><%= @province_amount_sum %></td>
            </tr>
          </tbody>
        </table>




        <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
          <thead>
            <tr>
              <th>Type - Product</th>
              <th>Amount (Meters)</th>
            </tr>
          </thead>
          <tbody>
            <% if @province_200_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>200 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_200_normal_id"><%= @province_200_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_200_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>200 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_200_resistant_id"><%= @province_200_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_250_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>250 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_250_normal_id"><%= @province_250_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_250_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>250 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_250_resistant_id"><%= @province_250_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_280_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>280 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_280_normal_id"><%= @province_280_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_280_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>280 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_280_resistant_id"><%= @province_280_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_300_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>300 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_300_normal_id"><%= @province_300_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_300_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>300 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_300_resistant_id"><%= @province_300_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_350_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>350 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_350_normal_id"><%= @province_350_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_350_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>350 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_350_resistant_id"><%= @province_350_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_375_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>375 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_375_normal_id"><%= @province_375_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_375_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>375 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_375_resistant_id"><%= @province_375_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_400_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>400 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_400_normal_id"><%= @province_400_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_400_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>400 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_400_resistant_id"><%= @province_400_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_420_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>420 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_420_normal_id"><%= @province_420_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_420_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>420 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_420_resistant_id"><%= @province_420_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_425_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>425 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_425_normal_id"><%= @province_425_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_425_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>425 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_425_resistant_id"><%= @province_425_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_440_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>440 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_440_normal_id"><%= @province_440_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_440_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>440 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_440_resistant_id"><%= @province_440_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_450_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>450 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_450_normal_id"><%= @province_450_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_450_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>450 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_450_resistant_id"><%= @province_450_resistant_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_475_normal_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>475 - Normal</strong></td>
              <td class="font-weight-bold" id="concrete_475_normal_id"><%= @province_475_normal_amount_sum %></td>
            </tr>
            <% end %>
            <% if @province_475_resistant_amount_sum > 0 %>
            <tr>
              <td class="m--font-default"><strong>475 - Resistant</strong></td>
              <td class="font-weight-bold" id="concrete_475_resistant_id"><%= @province_475_resistant_amount_sum %></td>
            </tr>
            <% end %>

          </tbody>
        </table>


        </div>
      </div>
    </div>
    <!--End::Section-->