<div class="m-widget5__item">
	<div class="m-widget5__pic">
		<% if DataAsset.find(transfer_asset.data_asset_id).images.attached? %>
		<%= image_tag DataAsset.find(transfer_asset.data_asset_id).images.first.variant(resize: "120x80"), alt: "", class: "m-widget7__img" %>

		<% else %>
	  	<%= image_tag "no-image_120_90.jpg", alt: "", class: "img-fluid" %>
	  <% end %>
	</div>

	<div class="m-widget5__content">
		<h4 class="m-widget5__title">

			<strong><span class="m--font-brand"><%= DataAsset.find(transfer_asset.data_asset_id).data_asset_serial %> </span></strong>
	      / <%= DataAsset.find(transfer_asset.data_asset_id).type_asset.type_asset_name %> 
	      / <%= DataAsset.find(transfer_asset.data_asset_id).model_asset.model_asset_name %> 

		</h4>
		<div class="m-widget5__info">
			<span class="m-widget5__author">
				Request By:
			</span>
			<span class="m-widget5__info-date m--font-danger">
				<% if transfer_asset.sitemanager? %>
					<span class="m--font-success"> Site Manager: </span><%= transfer_asset.user.assignments.first.employee.employee_name %>
				<% elsif transfer_asset.provincemanager? %>
					<span class="m--font-success"> Province Manager: </span><%= transfer_asset.user.assignments.first.employee.employee_name %>
				<% end %>
			</span>
			<br>
			<span class="m-widget5__author">
				From Site:
			</span>
			<span class="m-widget5__info-date m--font-info">
				<%= transfer_asset.site_asset_from.site_asset_name %>
			</span>
			<br>
			<span class="m-widget5__info-label">
				To Site:
			</span>
			<span class="m-widget5__info-date m--font-info">
				<%= transfer_asset.site_asset_to.site_asset_name %>
			</span>
			<% if local_assigns[:transfer_status] == 'refused' %>
				<br>
				<span class="m-widget5__info-label">
					Refuse Reason:
				</span>
				<span class="m-widget5__info-date m--font-danger">
					<%= transfer_asset.refuse_reason if present? %>
				</span>
			<% end %>
		</div>
	</div>

	<div class="m-widget5__stats1">
		<span class="m-widget5__sales m--font-brand">
			<span class="m--font-primary"><strong><%= local_assigns[:transfer_status].capitalize %></strong></span> from
		</span>
		<br>
		<span class="m-widget5__sales">
			<% if local_assigns[:transfer_status] == 'opened' %>
				<%= time_ago_in_words(transfer_asset.created_at) %>
			<% elsif local_assigns[:transfer_status] == 'refused' || 'accepted' %>
				<%= time_ago_in_words(transfer_asset.transfer_dep_action_date) %>
			<% elsif local_assigns[:transfer_status] == 'posted' %>
				<%= time_ago_in_words(transfer_asset.delivery_site_action_date) %>
			<% elsif local_assigns[:transfer_status] == 'received' %>
				<%= time_ago_in_words(transfer_asset.receive_site_action_date) %>
			<% end %>
		</span>
		<br>
		<span class="m-widget5__desc">
			<span class="m-widget5__sales m--font-brand">on: </span>
			<% if local_assigns[:transfer_status] == 'opened' %>
				<%= transfer_asset.created_at.to_date %>
			<% elsif local_assigns[:transfer_status] == 'refused' || 'accepted' %>
				<%= transfer_asset.transfer_dep_action_date.to_date %>
			<% elsif local_assigns[:transfer_status] == 'posted' %>
				<%= transfer_asset.delivery_site_action_date.to_date %>
			<% elsif local_assigns[:transfer_status] == 'received' %>
				<%= transfer_asset.receive_site_action_date.to_date %>
			<% end %>
		</span>
	</div>

	<div class="m-widget5__stats1">
		<%= link_to transfer_asset_path(transfer_asset, asset_id: DataAsset.find(transfer_asset.data_asset_id).id), alt: "Show", class: "m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill", data: { toggle: "m-tooltip", placement: "bottom", original_title: "Show"} do %><i class="la la-ellipsis-h"></i><% end %>

		<%= link_to transfer_asset_path(transfer_asset, format: :pdf, asset_id: DataAsset.find(transfer_asset.data_asset_id).id), alt: "PDF", class: "m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill", target: "_blank", data: { toggle: "m-tooltip", placement: "bottom", original_title: "PDF"} do %><i class="la la-file-pdf-o"></i><% end %>

		<% if local_assigns[:can_edit] %>
			<%= link_to edit_transfer_asset_path(transfer_asset, asset_id: DataAsset.find(transfer_asset.data_asset_id).id), alt: "Edit", class: "m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill", data: { toggle: "m-tooltip", placement: "bottom", original_title: "Edit"} do %><i class="la la-edit"></i><% end %>
		<% end %>

	</div>
</div>