<!--begin::Form-->
<%= form_with(model: pro_crusher_type, local: true, class: "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed") do |form| %>

  <%= render 'layouts/myform/error_myform', object: pro_crusher_type %>

  <div class="form-group m-form__group row">
    <%= form.label :pro_crusher_type_name, "Crusher type Name", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= form.text_field :pro_crusher_type_name, class: "form-control m-input", placeholder: "crusher Type Name", required: true %>
      <span class="m-form__help">Please enter crusher Type Name</span>
    </div>
  </div>


  <%= render 'layouts/myform/submit_myform', form: form, cancelpath: pro_crusher_types_path %>

<% end %>
<!--end::Form-->