<!--Begin::Section-->
<div class="m-section">
  <div class="m-section__content">
    <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
      <thead>
        <tr style="font-size: 1.4rem;">
          <th>*</th>
          <th>#Serial</th>
          <th>Asset No.</th>
          <th>From</th>
          <th>To</th>
          <th>By</th>
          <th>Lowbed</th>
          <th>Create Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% if @transfer_assets_pdf.any? %>
        <% @transfer_assets_pdf.each_with_index do |transfer_asset, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td class="m--font-brand"><strong>#T<%= transfer_asset.id %></strong></td>
            <td><%= transfer_asset.data_asset.data_asset_serial %></td>
            <td><%= transfer_asset.site_asset_from.site_asset_name %></td>
            <td><%= transfer_asset.site_asset_to.site_asset_name %></td>
            <td>
              <% if transfer_asset.sitemanager? %>
                <span class="m--font-success"> Site Manager: </span><%= transfer_asset.user.assignments.first.employee.employee_name %>
              <% elsif transfer_asset.provincemanager? %>
                <span class="m--font-success"> Province Manager: </span><%= transfer_asset.user.assignments.first.employee.employee_name %>
              <% end %>
            </td>
            <td><%= transfer_asset.data_asset_lowbed ? transfer_asset.data_asset_lowbed.data_asset_serial : "N/A" %></td>
            <td><%= transfer_asset.created_at.to_date %></td>
            <td><%= transfer_asset.transfer_status %></td>
          </tr>
        <% end %>
        <% else %>
        <tr>
          <td colspan="12">No Transfer Requests</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--End::Section-->