<!--begin::Form-->
<%= form_with(model: type_asset, local: true, class: "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed") do |form| %>

  <%= render 'layouts/myform/error_myform', object: type_asset %>

  <div class="form-group m-form__group row">
    <%= form.label :type_asset_name, "Type Name", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= form.text_field :type_asset_name, class: "form-control m-input", placeholder: "Type Name", required: true %>
      <span class="m-form__help">Please enter type Name</span>
    </div>
    <%= form.label :model_asset_ids, "Asset Models", class: "col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= form.select :model_asset_ids, ModelAsset.all.collect {|p| [p.model_asset_name, p.id]}, {include_blank: 'Select Asset Models'}, {class: "form-control m-input m-select2", placeholder: "Enter Asset Models", multiple: true, required: true} %>
      <span class="m-form__help">Please enter Asset Model</span>
    </div>
  </div>


  <%= render 'layouts/myform/submit_myform', form: form, cancelpath: type_assets_path %>

<% end %>
<!--end::Form-->