<%= render 'layouts/myindex/before_myindex', mytitle: "Types", pages_collection: @type_assets, pages_model: "type", newlink: true, newtitle: "Type", newpath: new_type_asset_path %>

<thead>
<tr>
  <th>ID</th>
  <th>Type name</th>
  <th>Models</th>
  <th>Actions</th>
</tr>
</thead>
<tbody>
<% if @type_assets.any? %>
  <% @type_assets.each do |type_asset| %>
    <tr>

      <td><%= type_asset.id %></td>

      <td><%= type_asset.type_asset_name %></td>

      <td>
      <% type_asset.model_asset_ids.map do |r| %>
        <%= "#{ModelAsset.find(r).model_asset_name}, " %>
      <% end %>
      </td>

      <td><%= link_to type_asset, alt: "Show", class: "m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill", data: { toggle: "m-tooltip", placement: "bottom", original_title: "Show"} do %><i class="la la-ellipsis-h"></i><% end %>

        <%= link_to edit_type_asset_path(type_asset), alt: "Edit", class: "m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill", data: { toggle: "m-tooltip", placement: "bottom", original_title: "Edit" } do %><i class="la la-edit"></i><% end %>

        <% if current_user.role?(:assets_admin) %>
          <%= link_to type_asset, alt: "Delete", class: "m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill", method: :delete, data: { toggle: "m-tooltip", placement: "bottom", original_title: "Delete", confirm: 'Are you sure?' } do %><i class="la la-trash"></i><% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <th scope="row" class="text-center" colspan="12">No Assets</th>
  </tr>
<% end %>
</tbody>

<%= render 'layouts/myindex/after_myindex', pages_collection: @type_assets, pages_model: "type" %>
