<% if (!params[:asset_id].blank? && !params[:start_date].blank? && !params[:end_date].blank?) %>
<div class="m-portlet__head">
  <div class="m-portlet__head-caption">
    <div class="m-portlet__head-title">
      <span class="m-portlet__head-icon">
        <i class="flaticon-truck m--font-brand"></i>
      </span>
      <h3 class="m-portlet__head-text">
        OC Report: ( Asset: <%= DataAsset.find(params[:asset_id]).data_asset_serial %> - Start date: <%= params[:start_date] %> - End date: <%= params[:end_date] %> )
      </h3>
    </div>
  </div>
  <div class="m-portlet__head-tools">
    <ul class="m-portlet__nav">

      <li class="m-portlet__nav-item" id="clear_filters">
        <% if params[:q] %>
          <%= link_to request.path, class: "btn m-btn m-btn--pill m-btn--air btn-info mr-4" do %>
            <span>
              <i class="la la-filter"></i>
              <span>
                Clear Filters
              </span>
            </span>
          <% end %>
        <% end %>
      </li>

      <li class="m-portlet__nav-item">
        <%= link_to monthly_checklists_path(asset_id: params[:asset_id], start_date: params[:start_date], end_date: params[:end_date], q: request.parameters[:q],format: :pdf), class: "btn m-btn m-btn--icon m-btn--pill m-btn--air btn-danger", target: "_blank" do %>
          <span>
            <i class="la la-file"></i>
            <span>
              Create PDF document
            </span>
          </span>
        <% end %>
      </li>

    </ul>
  </div>
</div>

<!--Begin::m-portlet__body-->
<div class="m-portlet__body">
<div class="mb-5 pb-2">
  <div class="digg_pagination m--pull-left">
    <span class="page_info">
      <%= page_entries_info @checklists, model: 'checklist' %>
    </span>
  </div>
  <div class="digg_pagination m--pull-right">
    <%= will_paginate @checklists, :container => false %>
  </div>
</div>

<!--Begin::Section-->
<div class="m-section">
  <div class="m-section__content">
    <div class="table-responsive">
    <table class="table m-table m-table--border-success m-table--head-bg-success table-bordered table-hover text-center">
      <thead>
      <tr>
        <th>#Day</th>
        <th>Engine Oil</th>
        <th>Hydraulic Oil</th>
        <th>Gear Oil</th>
        <th>Breake Oil</th>
        <th>Battery Water</th>
        <th>Air Filter</th>
        <th>Fuel Water Separator</th>
        <th>Fuel Tank</th>
        <th>Radiator Coolant Hoses</th>
        <th>Lights Gauges</th>
        <th>Joints Pto Shaft</th>
        <th>Chain Tension</th>
        <th>Tire Pressure</th>
        <th>Tire Bolt</th>
        <th>Fan Belt Tension</th>
        <th>Air Tank</th>
      </tr>
      </thead>
      <tbody>
      <% if @checklists.any? %>
        <% @checklists.each do |checklist| %>
          <tr>

            <td><%= checklist.day.to_date.strftime('%d-%m-%Y') %></td>

            <td>
              <% if checklist.engine_oil %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.hydraulic_oil %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.gear_oil %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.breake_oil %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.battery_water %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.air_filter %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.fuel_water_separator %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.fuel_tank %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.radiator_coolant_hoses %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.lights_gauges %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.joints_pto_shaft %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.chain_tension %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.tire_pressure %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.tire_bolt %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.fan_belt_tension %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>

            <td>
              <% if checklist.air_tank %>
              <i class="la la-check m--font-success"></i>
              <% else %>
              <i class="la la-close m--font-danger"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <th scope="row" class="text-center" colspan="17">No OC Report Data</th>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
<!--End::Section-->

<div class="mb-3 pb-3">
  <div class="digg_pagination m--pull-left">
    <span class="page_info">
      <%= page_entries_info @checklists, model: 'checklist' %>
    </span>
  </div>
  <div class="digg_pagination m--pull-right">
    <%= will_paginate @checklists, :container => false %>
  </div>
</div>
</div>
<!--End::m-portlet__body-->
<% else %>
  <h5 scope="row" class="text-center m--font-danger p-2" colspan="12">Please, select ( Asset, Start date, End date) first.</h5>
<% end %>